@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Inter-Black.ttf") format("ttf"),
      url("../fonts/Inter-Light.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter-Thin.ttf") format("ttf"),
      url("../fonts/Inter-SemiBold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Inter-Medium.ttf") format("ttf"),
      url("../fonts/Inter-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Inter-Regular.ttf") format("ttf"),
      url("../fonts/Inter-Regular.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.ttf") format("ttf"),
      url("../fonts/Inter-ExtraBold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/Inter-ExtraLight.ttf") format("ttf"),
      url("../fonts/Inter-ExtraLight.ttf") format("ttf");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Inter-SemiBold.ttf") format("ttf"),
      url("../fonts/Inter-SemiBold.ttf") format("ttf");
  }