.asia {
  margin-top: 160px;
}


.asia__img-desctop {
  width: 100%;
  max-width: 1216px;
  display: block;
  cursor: pointer;

}

.asia__img-mobil {
  display: none;
}

.asia__img-planchet {
  display: none;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .asia__img-desctop {
      display: none;
    }

    .asia__img-planchet {
      display: block;
    }
}


@media only screen and (max-width: 556px) {


  .asia__img-planchet {
    display: none;
  }

  .asia__img-mobil {
    display: block;
  }
}

